@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.editeDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.allRooms{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

article{
    width: 50%;
}

.header{
    display: flex;
    justify-content: space-around;
}

body h1{
    font-family: 'Outfit', sans-serif;
    width: 100%;
}

.logotipo {
    height: 100px;
}

.signup {
    height: 60px;
}

p {
    font-family: 'Outfit', sans-serif;
}
.backButton {
    font-family: 'Outfit', sans-serif;
    background-color: white;
    width: 60px;
    height: 20px;
}

.exit {
    height: 60px;
}

.exitButton {
    font-family: 'Outfit', sans-serif;
    background-color: white;
    width: 60px;
    height: 20px;
}

label{
    font-family: 'Outfit', sans-serif;
    width: 50%;
}

#createFilmButton {
    font-family: 'Outfit', sans-serif;
    background-color: white;
    width: 51%;
    height: 40px;
    padding: 0.5rem;
}

#editFilmButton {
    font-family: 'Outfit', sans-serif;
    background-color: white;
    width: 51%;
    height: 40px;
    padding: 0.5rem;
}

#seeFilmButton{
    font-family: 'Outfit', sans-serif;
    background-color: white;
    width: 51%;
    height: 40px;
    padding: 0.5rem;
}

form div{
    padding: 0.5rem;
    width: 51%;
}

#mensajeAlerta{
    width: 100%;
}

#deleteFilmButton{
    font-family: 'Outfit', sans-serif;
    background-color: white;
    width: 51%;
    height: 40px;
    padding: 0.5rem;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

input{
    width: 70%;
    font-family: 'Roboto', sans-serif;
}
.editeDiv input{
    width: 50%;
}

div input{
    width: 98%;
}

div select{
    width: 100%;
}