@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.post-list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.buttonMenu{
    display: flex;
    flex-direction: column;

    flex-wrap: wrap;
}

.buttonMenu button{
    margin-left: 5px;
}

.post{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
 .post img {
    width: 100%;
    height: 100%;
 }
.posted {
    text-align: center;
    width: 100%;
}
.post button {
    width: 33%;
}

article{
    width: 33%;
}

.header{
    display: flex;
    justify-content: space-around;
}

body h1{
    font-family: 'Outfit', sans-serif;
    width: 100%;
}

.logotipo {
    height: 100px;
}

.add {
    height: 70px;
}

.ticket {
    height: 70px;
}

.signup {
    height: 70px;
}

.signupButton {
    font-family: 'Outfit', sans-serif;
    background-color: white;
    width: 90%;
    height: 20px;
}

.ticketButton {
    font-family: 'Outfit', sans-serif;
    background-color: white;
    width: 90%;
    height: 20px;
}

.addButton {
    font-family: 'Outfit', sans-serif;
    background-color: white;
    width: 90%;
    height: 20px;
}

.addButtonCinema{
    font-family: 'Outfit', sans-serif;
    background-color: white;
    width: 90%;
    height: 20px;
}

.exit {
    height: 70px;
}

.exitButton {
    font-family: 'Outfit', sans-serif;
    background-color: white;
    width: 90%;
    height: 20px;
}

.detalleButton {
    font-family: 'Outfit', sans-serif;
    background-color: white;
    width: 60px;
    height: 20px;
}

.deleteButton {
    font-family: 'Outfit', sans-serif;
    background-color: white;
    width: 60px;
    height: 20px;
}

.reservaButton {
    font-family: 'Outfit', sans-serif;
    background-color: white;
    width: 60px;
    height: 20px;
}


body h2{
    font-family: 'Outfit', sans-serif;
}

body h3 {
    font-family: 'Outfit', sans-serif;
}

body h4 {
    font-family: 'Outfit', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
}

